*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    /* color */
    --body-color:#f5ebeb;
    --sidebar-color:#a2e59b;
    --primary-color:#dbeae3;
    --primary-color-light:#dbd9ef;
    --toggle-color:#ddd;
    --text-color:#010000;
    --border-color: #bcb9b9;
    --title-color:#432ab2;
    --box-color : rgb(84, 77, 204);
    --box2-color:rgb(255, 255, 142);
    --box3-color:rgb(244, 172, 184);
  
      /* transition */
      --tran-02 : all 0.2s ease;
      --tran-03 : all 0.3s ease;
      --tran-04 : all 0.4s ease;
      --tran-05 : all 0.5s ease;
  }
  body{
    height: 100vh;
    background: var(--body-color);
  }
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    border-right: 2px solid var(--border-color);
  }
  .sidebar.close{
    width: 73px;
  }
  .sidebar .text{
    font-size: 16px;
    font-weight: 500;
  }
  .sidebar.image{
    min-width: 100px;
    display: flex;
    align-items: center;
  }
  .sidebar .image-text img{
    width: 50px;
    border-radius: 6px;
  }
  .sidebar li{
    margin-left: 10px;
    margin-top: 25px;
    height: 50px;
    list-style: none;
  }
  .sidebar li .icon,
  .sidebar li .text{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
  }
  .sidebar.close li .text{
    opacity: 0;
    pointer-events: none;
  
  } 
  .sidebar li .icon{
    font-size: 20px;
    min-width: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
  }
  .sidebar .product-link{
    background: var(--primary-color);
    border-radius: 5px;
  }
  .sidebar header{
    position: relative;
  }
  .sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center ;
    text-decoration: none;
    border-radius: 5px;
    transition: var(--tran-04);
  }
  .sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 3px;
  }
  .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--primary-color-light);
    border-radius: 5px;
  }
  .sidebar li a:hover{
    background: var(--primary-color);
  }
  .product{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(75%);
    padding: 10px 14px;
    background: var(--body-color);
    transition: var(--tran-04);
  }
  .sidebar.close ~ .product{
    left : 73px;
    width: calc(100% - 150px);
    position: relative;
    transition: var(--tran-04);
    margin-left: 50px;
    margin-right: 50px;
  
  }
  .product .top{
    align-items: center;
     display: flex;
      justify-content: space-between;
      top: 0;
      left: 250px;
      padding: 10px 14px;
      border-bottom: solid var(--text-color);
      box-shadow: 2px 3px lightgrey;
  }
  .product .top .sidebar-toggle,.logo{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
  }
  .product .product-contents {
    padding-top: 10px;
  }
  .product .title{
    display: flex;
    align-items: center;
    margin: 70px 0 30px 0;
  }
  .product .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .product .title.text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
  }
  .product.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px 20px;
    width: calc(100% / 3 - 15px);
    background-color:var(--box-color) ;
  }
  .boxes .box i{
  font-size: 35px;
  color: var(--text-color);
  }
  .boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
  }
  .boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
  }
  .product-contents .activity .activity-data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .activity .activity-data{
    display: flex;
  }
   .activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
  }
  .activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
  }
  .activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
  }
  .activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400px;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
  }
   .projects {
    width: 100%;
  }
  table {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    background: var(--border-color);
  }
  thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    background-color: #c9f6cd;
  }
  thead td {
    padding: 0.5rem 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }
  tr {
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
  }
  td {
    border-bottom: solid 1px black;
    align-items: center;
    padding: 2rem 1rem;
    font-size: 1rem;
    color: #222;
    align-items: center;
    justify-content: center;
  }
  td .pen {
    color: #4d8a54;
    margin-top: 1.3rem;
    margin-right: 1.1rem;
    font-size: 1rem;
  }
  td .move {
    color: red;
    font-size: 1rem;
    margin-top: 1.3rem;
  }
  select {
    height: 2rem;
    padding: 0.1rem;
    text-align: center;
    background-color: #d3e4cd;
  }
  td i{
    font-size: 25px;
    cursor: pointer;
  }
  .customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.7rem;
  }
  .info {
    display: flex;
    align-items: center;
  }
  .info img {
    border-radius: 50%;
    margin-right: 1rem;
  }
  .info h4 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #222;
  }
  .info small {
    font-weight: 600;
    color: var(--text-grey);
  }
  .contact i {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 0.5rem;
    color: var(--main-color);
    cursor: pointer;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
  }
  .card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 6px 2px lightgrey;
  }
  .card-single:first-child {
    background: #d3e4cd;
  }
  .card-single:nth-child(2) {
    background: #fddfdf;
  }
  .card-single:nth-child(3) {
    background: #d5dfe9;
  }
  .card-single:nth-child(4) {
    background: #ede4e0;
  }
  .card-single span {
    color: var(--text-grey);
    font-size: 1.4rem;
  }
  .card-single i {
    color: var(--main-color);
    font-size: 1.5rem;
  }
  
  .recent-gird {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 100% !important;
    grid-gap: 2rem;
  }
  
  .card {
    background: #fff;
    border-radius: 5px;
  }
  
  .card-header,
  .card-body {
    padding: 1rem;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .card-header button {
    background: linear-gradient(to bottom, #6bbb75 0%, #94ad94 100%);
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
  }

  .box {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
  }
  .box #search {
    width: 100%;
    color: white;
    padding: 12px;
    font-size: 16px;
  }
  .box button {
    padding: 12px;
    font-size: 16px;
    margin-left: -1rem;
    background-color: #5c5c5c;
    color: white;
  }
  /* Trang */
  .add {
    text-align: center;
    padding: 15px;
  }
  .add button {
    width: 1.5rem;
    padding: 0.1rem;
    height: 1.5rem;
    border: none;
    font-size: 13px;
  }
  .add button:nth-child(2) {
    background-color: #cafbca;
  }
  .add button:hover {
    background-color: #94ad94;
  }

  /* Table */
   
/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-80%, -80%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 45rem;
  border-radius: 1rem;
  font-size: 17px;
}
.modal-content input,
select {
  width: 100%;
  height: 2.3rem;
}
.modal-content p {
  margin-top: 1rem;
}
.modal-content button {
  width: 18%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
.modal-content button:first-child {
  background-color: #4d8a54;
  color: white;
}
.modal-content button:first-child:hover {
  background-color: white;
  border: 2px solid #4d8a54;
  color: #4d8a54;
}
.modal-content button:nth-child(2):hover {
  background-color: white;
  border: 2px solid #ce4d4d;
  color: #ce4d4d;
}
.modal-content button:nth-child(2) {
  background-color: #ce4d4d;
  color: white;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
 .add button{
  height: 35px;
  width: 150px;
}