* {
    font-family: Quicksand, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 200px;
    padding-top: 20px;
    background-color: white;
    font-size: x-large;
}

header nav li {
    margin: 0 20px;
}

header a:hover {
    color: #71B979 !important;
}

header #logo {
    height: 130px;
    margin: 10 20px;
}

.header-btn {
    border: 1px solid white;
    height: 60px;
    width: 70px;
    margin-top: 40px;
    margin-right: 30px;
    border-radius: 10px;
    text-align: center;
}

.header-btn a {
    text-decoration: none;
}

.header-btn:hover {
    border-color: #71B979;
}

.account-icon, .shopping-cart-icon {
    margin-top: 14px;
}

.empty {
    width: 160px;
    margin: 20px;
}

#user-icon, #cart-icon {
    font-size: 30px;
    margin-right: -3px;
}

.account-dropdown {
    margin-top: 6px !important;
    border-radius: 10px !important;
}

footer {
    height: 200px;
    background-color: #71B979;
    text-align: center;
    font-size: 17px;
}

footer .contact-info {
    text-align: left;
}

footer .contact-info a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px;
}

footer .contact-info li {
    background-color: #71B979;
}

footer .footer-tittle {
    text-align: center;
    margin-top: 20px;
}

footer p {
    text-align: justify;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

footer img {
    height: 125px;
    margin-top: 10px;
}

.row {
    --bs-gutter-x: -0.5rem;
}

.to-top {
    border: none;
    background: #71B979;
    position: fixed;
    bottom: 72px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.active {
    bottom: 100px;
    pointer-events: auto;
    opacity: 1;
}

.contact-btn {
    border: none;
    background: #71B979;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    opacity: 1;
}

.contact-btn a {
    text-decoration: none;
    color: white;
}